// VARIABLES
$type-base: "Source Sans Pro", Helvetica, Arial, sans-serif;
$type-heading: Georgia, serif; 
$type-linewidth: 38em;
$type-color: #333;
$type-color-lightgrey: rgba(0,0,0,.5);

//COLOR
$link-color: #39c;
$link-color-dark: #069;
$accent-color: #093550;

//BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1250px;
  

@import "partials/toc";
@import "partials/typography";
@import "partials/components";  
@import "partials/layout";  
