/* Site Structure */
.site-header,
.site-footer {
  background: blue; }

header {
  background: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

a {
  color: red;
  text-decoration: none; }

.site-identity h1 {
  font-size: 1.5em;
  margin: 0; }
  .site-identity h1 a {
    padding: 1em;
    display: block; }

.site-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.site-navigation a {
  display: block;
  padding: 1em; }

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
