/* COMPONENTS */

// BUTTONS

/* #BUTTONS */
.button,
a.button {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1em;
    display: inline-block;
    background-color: $link-color;
    border: 1px solid $link-color;
    color: #fff;
    padding: 1.25em 2.5em;
    border-radius: 3em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-decoration: none;

    &.alt {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid $link-color;
        color: $link-color;
    }
    
    &:hover,
    &.alt:hover {
        background-color: $link-color-dark;
        color: #fff;
        border-color: $link-color-dark;
    }

}


  
//   button.alt, a.button.alt {
//     background-color: rgba(255, 255, 255, 0);
//     border: 1px solid #39c;
//     color: #39c; }
  
//   button:hover, a.button:hover {
//     background-color: #069;
//     color: #fff;
//     border-color: #069;
//     text-decoration: none; }