/* Site Structure */
.site-header,
.site-footer {
    background: purple;
}


header {
    background: grey;
    display: flex;
    justify-content: space-between;
}

a {
    color: pink;
    text-decoration: none;
}

.site-identity {
    h1 {
        font-size: 1.5em;
        margin: 0;
        a {
            padding: 1em;
            display: block;
        }
    }
}

.site-navigation {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;

    }

    a {
        display: block;
        padding: 1em;
    }
}


.site-header {
    display: flex;
    justify-content: space-between;

}

/* HERO */

.hero {
    background-color: $hero-bg-color;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        padding: .5em;
    }
}