/* Site Structure */
.site-header,
.site-footer {
    background: purple;
}


header {
    background: grey;
    display: flex;
    justify-content: space-between;
}

a {
    color: pink;
    text-decoration: none;
}

.site-identity {
    h1 {
        font-size: 1.5em;
        margin: 0;
        a {
            padding: 1em;
            display: block;
        }
    }
}

.site-navigation {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;

    }

    a {
        display: block;
        padding: 1em;
    }
}


.site-header {
    display: flex;
    justify-content: space-between;

}

section {
    padding: 4em 0;
}

/* HERO */

.hero {
    background-color: $hero-bg-color;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        padding: .5em;
    }
}

.sectionhead {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 1em auto 1em auto;
    padding: 2em 0 0 0;
}

.sectionhead:after {
    display: block;
    border-bottom: 1px solid $accent-color;
    width:10%;
    margin: 1em auto 4em auto;
    content: "";
}